<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Jaro:opsz@6..72&family=VT323&display=swap" rel="stylesheet">

        <link rel="icon" href="{{ asset('icons/pokemon_icon_213976.ico') }}" type="image/x-icon">
        <title>{% block title %}Poke Tool{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
